<!DOCTYPE html>
<html>
<head>
    <title>桑葚大枣猪肉汤</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport"
          content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0,width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="Description" content="适宜人群：结肠癌及化疗后乏力、下腹坠胀者。">
    <link rel="apple-touch-icon" href="//pic.kuaizhan.com/g3/e6/e6/e2bb-fffd-492b-8247-743e92dc7a9280"
          data-role="site-logo">
    <script>
        var SOHUZ = {
            page: {
                site_id: "8583202879",
                site_name: "微爱医行",
                site_url: "https://weiaiyixing.kuaizhan.com",
                page_id: "3527426594",
                page_title: "桑葚大枣猪肉汤",
                page_type: "2",
                index_url: "/",
                is_index_page: false,
                is_imported_post: false,
                source_page_id: 0,
                label_arr: [],
                changyan_id: "",
                thirdpart: "0",
                ad: "1"
            },
            share: {
                title: "桑葚大枣猪肉汤",
                desc: "适宜人群：结肠癌及化疗后乏力、下腹坠胀者。",
                pic: "\/\/pic.kuaizhan.com\/g3\/33\/e2\/6244-7528-4f0f-bcff-373e2607116b81\/imageView\/v1\/thumbnail\/240x180",
                wxAppId: "unknow"
            }
        };

    </script>
    <script src="//cdn.kuaizhan.com/res/mobile/js/lib/kzjssdk.js?v=5.0"></script>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//cdn.kuaizhan.com">
    <link rel="dns-prefetch" href="//pfile.kuaizhan.com">
    <link rel="dns-prefetch" href="//pic.kuaizhan.com">

    <!--DTD WML-->
    <meta http-equiv="Cache-Control" content="no-transform">
    <link id="mobile-css" rel="stylesheet" type="text/css" href="//cdn.kuaizhan.com/res/skin/css/mobile.css?v=5.0">
    <link id="mod-css" rel="stylesheet" type="text/css" href="//cdn.kuaizhan.com/res/skin/css/mod.css?v=5.0">
    <link id="portal-css" rel="stylesheet" type="text/css" href="//pfile.kuaizhan.com/files/portal_basic.css">
    <link id="theme-css-3" rel="stylesheet" type="text/css"
          href="//cdn.kuaizhan.com/res/skin/themes/theme1/theme.css?v=5.0">
    <link id="color-css" rel="stylesheet" type="text/css"
          href="//cdn.kuaizhan.com/t/site-8583202879/theme-1.css?v=1524200802">
    <link id="portal-extra" rel="stylesheet" type="text/css"
          href="//pfile.kuaizhan.com/files/??5a16c3713607500008a4fae5/latest_version/components/portal_all.css">
    <link rel="apple-touch-icon"
          href="//pic.kuaizhan.com/g3/33/e2/6244-7528-4f0f-bcff-373e2607116b81/imageView/v1/thumbnail/128x128"/>
    <script>SOHUZ.nav = [{
        "link_res_type": 3,
        "link_res_id": 4420626948,
        "link_res_name": "\u9996\u9875",
        "title": "\u5173\u6ce8\u6536\u85cf",
        "selected": false,
        "link": "\/69\/48\/p50907105348fdf",
        "icon": "\ue062"
    }, {
        "link_res_type": 3,
        "link_res_id": "",
        "link_res_name": "",
        "title": "\u5546\u54c1\u8ba2\u5355",
        "selected": false,
        "link": "javascript:;",
        "icon": "\ue016",
        "link_res_type_name": "\u793e\u533a"
    }, {
        "title": "\u6211\u4eec\u7684\u8bc4\u4ef7",
        "icon": "\ue051",
        "link": "javascript:;",
        "link_res_type": 3,
        "link_res_id": "",
        "link_res_name": ""
    }, {
        "title": "\u54a8\u8be2\u8bb0\u5f55",
        "icon": "\ue013",
        "link": "javascript:;",
        "link_res_type": 3,
        "link_res_id": "",
        "link_res_name": ""
    }, {
        "title": "\u6211\u7684\u95ee\u9898",
        "link": "javascript:;",
        "link_res_type": 3,
        "link_res_id": 0,
        "link_res_name": "",
        "icon": "\ue00d"
    }, {
        "title": "\u670d\u52a1\u8ba2\u5355",
        "link": "javascript:;",
        "link_res_type": 3,
        "link_res_id": 0,
        "link_res_name": "",
        "icon": "\ue008"
    }, {
        "title": "\u8054\u7cfb\u5ba2\u670d",
        "link": "javascript:;",
        "link_res_type": 3,
        "link_res_id": 0,
        "link_res_name": "",
        "icon": "\ue014"
    }, {
        "title": "\u5e2e\u52a9\u53cd\u9988",
        "link": "javascript:;",
        "link_res_type": 3,
        "link_res_id": 0,
        "link_res_name": "",
        "icon": "\ue01b"
    }, {
        "title": "\u6211\u4eec\u7684\u9891\u9053",
        "link": "javascript:;",
        "link_res_type": 3,
        "link_res_id": 0,
        "link_res_name": "",
        "icon": "\ue01d"
    }, {
        "title": "\u5065\u5eb7\u6863\u6848",
        "link": "javascript:;",
        "link_res_type": 3,
        "link_res_id": 0,
        "link_res_name": "",
        "icon": "\ue009"
    }];</script>
    <link rel="stylesheet" type="text/css" href="//cdn.kuaizhan.com/res/??mobile/css/ui.css,post/css/mobile.css?v=5.0">
</head>
<body>
<script src="//cdn.kuaizhan.com/res/skin/js/zepto.min.js?v=5.0"></script>
<script src="//cdn.kuaizhan.com/bus/static-apps/572aba2ba3fa15f816ef1936/front/js/main.js"></script>
<div id="phone-main" class="phone-main" style="left: 0px; top: 0px;">
    <div class="phone-header">
        <div class="cell back">
            <a href="javascript:;" data-role="header-back">
                <i class="k-i-back"></i>
            </a>
        </div>
        <div class="cell site-logo">
            <div class="mod mod-pic mod-picone">
                <a href="https://weiaiyixing.kuaizhan.com">
                    <img src="//pic.kuaizhan.com/g3/e6/e6/e2bb-fffd-492b-8247-743e92dc7a9280">
                </a>
            </div>
        </div>
        <div class="cell site-title">
            <div class="mod mod-text">
                <a href="javascript:;">
                    <p>微爱医行</p>
                </a>
            </div>
        </div>
        <div class="cell menu">
            <div class="mod mod-pic mod-picone">
                <a id="js-sidebar" href="javascript:;">
                    <i class="k-i-menu"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="sidebar-container" class="sidebar-container">
    </div>
    <div class="page-w kz-post" style="background-color:tranparent;background-size:;">
        <div id="page-content" class="page-content">
            <div class="mod mod-layout_floor article-hd" data-role="sub-container"
                 style="">
                <div class='mod-title t0 '><h2>桑葚大枣猪肉汤</h2><i class='font-ico'></i></div>
                <div class="mod mod-article-attr"><span class="time">2018-03-18</span><span class="read">阅读<span
                        class="count"></span></span></div>
            </div>
            <div class="mod mod-layout_floor article-bd" data-role="sub-container"
                 style="">
                <div class="mod mod-layout_floor article-content" data-role="sub-container"
                     style="">
                    <div class="mod mod-html"><p style="text-align:center"><span
                            style=";font-family:等线;color:rgb(68,114,196);font-size:24px"><span style="font-family:等线">桑椹大枣猪肉汤</span></span>
                    </p>
                        <p><span style=";font-family:等线;color:rgb(255,192,0);font-size:19px"><span
                                style="font-family:等线">核心提示：桑椹</span>50克，大枣10枚，猪瘦肉适量。桑椹加大枣，猪肉和盐适量一起熬汤至熟。三者合用抗癌补益，特别适合于结肠癌患者或化疗后乏力、下腹坠胀者。</span>
                        </p>
                        <p><span style=";font-family:等线;color:rgb(255,192,0);font-size:19px"> </span></p>
                        <p><span style=";font-family:等线;color:rgb(237,125,49);font-size:14px"><span
                                style="font-family:等线">组成：桑椹</span>50克，大枣10枚，猪瘦肉适量。</span></p>
                        <p><span style=";font-family:等线;color:rgb(237,125,49);font-size:14px"><span
                                style="font-family:等线">功效：补中益气，滋阴消胀。</span></span></p>
                        <p><span style=";font-family:等线;color:rgb(237,125,49);font-size:14px"><span
                                style="font-family:等线">制法：桑椹加大枣，猪肉和盐适量一起熬汤至熟。</span></span></p>
                        <p><span style=";font-family:等线;color:rgb(237,125,49);font-size:14px"><span
                                style="font-family:等线">服法：可去桑葚，饮汤吃大枣、猪瘦肉，每日一剂。</span></span></p>
                        <p><span style=";font-family:等线;font-size:14px"> </span></p>
                        <p><span style="font-family: 等线;font-size: 14px"><span
                                style="font-family:等线">适宜人群：</span></span><a
                                href="http://jbk.39.net/keshi/neike/xiaohua/517ab.html"><span
                                style="text-decoration:underline;"><span
                                style="font-family: 'Times New Roman';color: rgb(0, 0, 0)"><span style="font-family:宋体">结肠癌</span></span></span></a><span
                                style="font-family: 等线;font-size: 14px"><span
                                style="font-family:等线">及化疗后</span></span><a
                                href="http://zzk.39.net/zz/quanshen/a62f6.html"><span
                                style="text-decoration:underline;"><span
                                style="font-family: 'Times New Roman';color: rgb(0, 0, 0)"><span style="font-family:宋体">乏力</span></span></span></a><span
                                style="font-family: 等线;font-size: 14px"><span style="font-family:等线">、</span></span><a
                                href="http://zzk.39.net/zz/penqiang/a6dea.html"><span
                                style="text-decoration:underline;"><span
                                style="font-family: 'Times New Roman';color: rgb(0, 0, 0)"><span style="font-family:宋体">下腹坠胀</span></span></span></a><span
                                style="font-family: 等线;font-size: 14px"><span style="font-family:等线">者。</span></span>
                        </p>
                        <p><span style="font-family: 等线;font-size: 14px"><span
                                style="font-family:等线">桑椹中所含的芸香苷、花色素、</span></span><a
                                href="http://ypk.39.net/bjp/yybc/b9e98.html"><span
                                style="text-decoration:underline;"><span
                                style="font-family: 'Times New Roman';color: rgb(0, 0, 0)"><span style="font-family:宋体">葡萄糖</span></span></span></a><span
                                style="font-family: 等线;font-size: 14px"><span style="font-family:等线">、</span></span><a
                                href="http://ypk.39.net/yaopin/djzsjphjyyy/yyy/799f5.html"><span
                                style="text-decoration:underline;"><span
                                style="font-family: 'Times New Roman';color: rgb(0, 0, 0)"><span style="font-family:宋体">果糖</span></span></span></a><span
                                style="font-family: 等线;font-size: 14px"><span style="font-family:等线">、苹果酸、钙质、无机盐、胡萝卜素、多种维生素及</span></span><a
                                href="http://ypk.39.net/yaopin/djzsjphjyyy/wss/79313.html"><span
                                style="text-decoration:underline;"><span
                                style="font-family: 'Times New Roman';color: rgb(0, 0, 0)"><span style="font-family:宋体">烟酸</span></span></span></a><span
                                style="font-family: 等线;font-size: 14px"><span
                                style="font-family:等线">等成分，都有预防</span></span><a
                                href="http://ksk.39.net/zz4/bumen/37b62.html"><span
                                style="text-decoration:underline;"><span
                                style="font-family: 'Times New Roman';color: rgb(0, 0, 0)"><span style="font-family:宋体">肿瘤</span></span></span></a><span
                                style="font-family: 等线;font-size: 14px"><span
                                style="font-family:等线">细胞扩散，避免</span></span><a
                                href="http://ksk.39.net/sjz/bumen/62e91.html"><span
                                style="text-decoration:underline;"><span
                                style="font-family: 'Times New Roman';color: rgb(0, 0, 0)"><span style="font-family:宋体">癌症</span></span></span></a><span
                                style="font-family: 等线;font-size: 14px"><span
                                style="font-family:等线">发生的功效。</span></span></p>
                        <p><span style="font-family: 等线;font-size: 14px"><span style="font-family:等线">猪肉性味甘成，滋阴润燥，可提供血红素（有机铁）和促进铁吸收的</span></span><a
                                href="http://ypk.39.net/yaopin/d2a7f.html"><span
                                style="text-decoration:underline;"><span
                                style="font-family: 'Times New Roman';color: rgb(0, 0, 0)"><span style="font-family:宋体">半胱氨酸</span></span></span></a><span
                                style="font-family: 等线;font-size: 14px"><span
                                style="font-family:等线">，能改善</span></span><a
                                href="http://jbk.39.net/keshi/neike/xueye/4901e.html"><span
                                style="text-decoration:underline;"><span
                                style="font-family: 'Times New Roman';color: rgb(0, 0, 0)"><span style="font-family:宋体">缺铁性贫血</span></span></span></a><span
                                style="font-family: 等线;font-size: 14px"><span style="font-family:等线">。</span></span></p>
                        <p><span style="font-size: 14px; font-family: 等线;">近年来药理研究发现，大枣中含有多种生物活性物质，如大枣多糖、黄酮类、皂苷类、三萜类、生物碱类、环磷酸</span><a
                                href="http://ypk.39.net/yaopin/xxgyy/kxlsc/b0817.html"
                                style="color: rgb(0, 0, 0); text-decoration: underline;"><span
                                style="color: rgb(0, 0, 0);">腺苷</span></a><span
                                style=";font-family:等线;font-size:14px"><span style="font-family:等线">（</span>cAMP）、环磷酸乌苷（cGMP）等，对人体有多种</span><a
                                href="http://ksk.39.net/tj/bumen/5a5e7.html"
                                style="color: rgb(0, 0, 0); text-decoration: underline;"><span
                                style="color: rgb(0, 0, 0);">保健</span></a><span
                                style="font-size: 14px; font-family: 等线;">治病功效。</span></p>
                        <p><span style=";font-family:等线;font-size:14px"><span style="font-family:等线">三者合用抗癌补益，特别适合于结肠癌患者或化疗后乏力、下腹坠胀者。</span></span>
                        </p>
                        <p><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/cm.js"></script>
    <script type="text/javascript">BAIDU_CLB_fillSlotAsync("u3549011", "u3549011");
    BAIDU_CLB_fillSlotAsync("u3549004", "u3549004");</script>
</div>
<div data-role="kz-page-bottom-float-layer" class="kz-page-float-layer bottom"></div>
<script src="//cdn.kuaizhan.com/res/skin/js/lib/require.js?v=5.0"></script>
<script src="//cdn.kuaizhan.com/res/skin/js/mobile.js?v=5.0"></script>
<script src="//cdn.kuaizhan.com/res/pageui/js/portal_page.js?v=5.0"></script>
<script src="//cdn.kuaizhan.com/res/post/js/mobile-post.js?v=5.0"></script>

<script>
    function kz_load_script(xyUrl, callback) {
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = xyUrl;
        //借鉴了jQuery的script跨域方法
        script.onload = script.onreadystatechange = function () {
            if ((!this.readyState || this.readyState === "loaded" || this.readyState === "complete")) {
                callback && callback();
                // Handle memory leak in IE
                script.onload = script.onreadystatechange = null;
                if (head && script.parentNode) {
                    head.removeChild(script);
                }
            }
        };
        // Use insertBefore instead of appendChild  to circumvent an IE6 bug.
        head.insertBefore(script, head.firstChild);
    }

    if ($('#qr-code-inner').length > 0) {
        kz_load_script('//static-1252921496.costj.myqcloud.com/third-party/qrcode.min.js', function () {

            // hack
            $('#qr-code-inner img').remove();

            var qrCodeInnerContent = document.createElement('div');
            qrCodeInnerContent.id = 'qr-code-inner-head';
            $('#qr-code-inner').prepend(qrCodeInnerContent);

            var qrcode = new QRCode(qrCodeInnerContent, {
                text: window.location.href,
                width: 100,
                height: 100,
            });
        });
    }
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['KZAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments);
        };
        a = s.createElement(o);
        m = s.getElementsByTagName(o)[0];
        a.sync = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
    })(window, document, "script", "//pv.kuaizhan.com/kzcollector.min.js?version=0.3", "kaq");
    (function (z) {
        var page = z.page;
        kaq('create', page.site_id);
        kaq('set', 'page_type', page.page_type);
        if (page.page_type == '4' && window.pageData && window.pageData._id) {
            kaq("set", 'traceKey', window.pageData._id);
        } else {
            kaq("set", 'traceKey', page.page_id);
        }
        if (page.page_type == "2") {
            if (page.trace_key) {
                kaq("set", 'traceKey', page.trace_key);
            }
            if (page.is_imported_post) {
                kaq('set', 'is_imported_post', 1);
                kaq('set', 'source_page_id', page.source_page_id);
            } else {
                kaq('set', 'is_imported_post', 0);
                kaq('set', 'source_page_id', 0);
            }
        }
        if (window.$) {
            $("body").on("toolbarad-view", function (e, data) {
                kaq('send', 'event', "global-header", data.action, "plf-ad-click");
            }).on("monitor-ad-bebavior", function () {
                kaq('send', 'event', "stat-ad-behavior", "hidden", page.site_id);
            }).on("click", "[data-trace-label]", function () {
                var t = $(this), trace_category = t.data('trace-category'), trace_label = t.data('trace-label');
                kaq('send', 'event', trace_category, 'click', trace_label);
            });
        }
        kaq('send', 'pageview');
        kaq('send', 'timing', 5);
        z.kaq = kaq;
    })(window.SOHUZ);
</script>
<script>
</script>
</body>
</html>